<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ekgc.bocaiman.trade.dao.PaymentPlatformDao">
	<select id="findListByQuery" parameterType="PaymentPlatform" resultMap="resultMap">
		select
			pp.id,
			pp.platform,
			pp.platformIcon,
			pp.status,
			pp.createAdmin,
			pp.createTime,
			pp.updateAdmin,
			pp.updateTime
		from
			sys_paymentplatform pp
		<where>
			<trim suffixOverrides="and">
				<if test="id != null">pp.id=#{id} and </if>
				<if test="platform != null">pp.platform like concat('%', #{platform}, '%') and </if>
				<if test="status != null">pp.status=#{status} and </if>
			</trim>
		</where>
	</select>

	<insert id="save" parameterType="PaymentPlatform">
		insert into sys_paymentplatform(
		<trim suffixOverrides=",">
			<if test="id != null">id, </if>
			<if test="platform != null">platform, </if>
			<if test="platformIcon != null">platformIcon, </if>
			<if test="status != null">status, </if>
			<if test="createAdmin != null">createAdmin, </if>
			<if test="createTime != null">createTime, </if>
			<if test="updateAdmin != null">updateAdmin, </if>
			<if test="updateTime != null">updateTime, </if>
		</trim>
		) values(
		<trim suffixOverrides=",">
			<if test="id != null">#{id}, </if>
			<if test="platform != null">#{platform}, </if>
			<if test="platformIcon != null">#{platformIcon}, </if>
			<if test="status != null">#{status}, </if>
			<if test="createAdmin != null">#{createAdmin}, </if>
			<if test="createTime != null">#{createTime}, </if>
			<if test="updateAdmin != null">#{updateAdmin}, </if>
			<if test="updateTime != null">#{updateTime}, </if>
		</trim>
		)
	</insert>

	<update id="update" parameterType="PaymentPlatform">
		update sys_paymentplatform
		<set>
			<trim suffixOverrides=",">
				<if test="platform != null">platform=#{platform}, </if>
				<if test="platformIcon != null">platformIcon=#{platformIcon}, </if>
				<if test="status != null">status=#{status}, </if>
				<if test="createAdmin != null">createAdmin=#{createAdmin}, </if>
				<if test="createTime != null">createTime=#{createTime}, </if>
				<if test="updateAdmin != null">updateAdmin=#{updateAdmin}, </if>
				<if test="updateTime != null">updateTime=#{updateTime}, </if>
			</trim>
		</set>
		<where>
			<trim suffixOverrides="and">
				<if test="id != null">id=#{id} and </if>
			</trim>
		</where>
	</update>

	<resultMap id="resultMap" type="PaymentPlatform">
		<id property="id" javaType="java.lang.String" column="id"/>
		<result property="platform" javaType="java.lang.String" column="platform"/>
		<result property="platformIcon" javaType="java.lang.String" column="platformIcon"/>
		<result property="status" javaType="java.lang.Integer" column="status"/>
		<result property="createAdmin" javaType="java.lang.String" column="createAdmin"/>
		<result property="createTime" javaType="java.util.Date" column="createTime"/>
		<result property="updateAdmin" javaType="java.lang.String" column="updateAdmin"/>
		<result property="updateTime" javaType="java.util.Date" column="updateTime"/>
	</resultMap>
</mapper>